<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ISS Location</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="./styles/main.css">
</head>

<body>
    <h1>
        Hello, please click below to access the details about the <span>international Space Station</span> location
    </h1>

    <form action="/submit" method="post">
        <input type="submit" value="Submit">
    </form>

    <% if (locals.data) { %>
        <div>
            <h2>International Space Station Details</h2>

            <p>
                Latitude: <%= data.latitude %>
            </p>

            <p>
                Longitude: <%= data.longitude %>
            </p>
            
            <p>
                Altitude: <%= data.altitude %>
            </p>
        </div>
        <% } %>

</body>

</html>